@import 'tailwindcss';

@font-face {
  font-family: 'Atyan Dsegh';
  src: url('./assets/fonts/Atyan_Dsegh_regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Brand color definitions */
  --brand-orange: #FF6200;

  --brand-black: #000000;
  --brand-white: #FFFFFF;
}

@layer base {
  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--brand-black);
    color: var(--brand-white);
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Atyan Dsegh', sans-serif;
    color: var(--brand-white);
    margin: 0;
    font-size: 96px;
    /* TODO Figure out sizing. */
  }
}

@layer utilities {
  /* Background colors */
  .bg-black { background-color: var(--brand-black); }
  .bg-orange { background-color: var(--brand-orange); }
  .text-title {  font-family: 'Atyan Dsegh', sans-serif; font-size: 32px; }
  .text-black { color: var(--brand-black); }
  .text-white { color: var(--brand-white); }
}
